* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem 0;

    background-color: #EEE;
}


nav li {
    margin-right: 0.5rem;
    display: inline;
}


label {
    margin-left: 1rem;
}
input, select {
    margin: 0.2rem;
    padding: 0.2rem;
}

.submit {
    width: 50%;
    margin: 1rem 20%;
}

.hidden {
    display: none;
}