* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem 0;

    background-color: #EEE;
}


a, a:visited, a:active {
    color: darkblue;
    text-decoration: none;
}
a::before {
    content: "> ";
}
a:hover {
    color: purple;
}



header {
    text-align: center;
}
header h1 {
    margin-bottom: -1rem;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav section {
    padding: 1rem;
    border-top: 1px solid #AAA;
    height: 6rem;
}
nav section:first-child {
    border-top: none;
}
nav h3 {
    font-size: 1rem;
    margin-left: 1rem;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    margin-top: 0.2rem;
    list-style: none;
}


label {
    margin-left: 1rem;
}
input, select {
    margin: 0.2rem;
    padding: 0.2rem;
}

.submit {
    width: 50%;
    margin: 1rem 20%;
}

.hidden {
    display: none;
}



@media screen and (min-width: 600px) {
    nav {
        flex-direction: row;
    }

    nav section {
        border-top: none;
        border-left: 1px solid #AAA;
        height: auto;
    }
    nav section:first-child {
        border-left: none;
    }
}