* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem 0;

    background-color: #EEE;
}


a {
    text-decoration: none;
}
a::before {
    content: "> ";
}


#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation section {
    padding: 1rem;
    border-left: 1px solid #000;
    height: 10rem;
}
#navigation section:first-child {
    border-left: none;
}
#navigation h3 {
    margin-left: 1rem;
}
#navigation ul {
    padding: 0;
    margin: 0;
}
#navigation li {
    margin-top: 0.2rem;
    list-style: none;
}


label {
    margin-left: 1rem;
}
input, select {
    margin: 0.2rem;
    padding: 0.2rem;
}

.submit {
    width: 50%;
    margin: 1rem 20%;
}

.hidden {
    display: none;
}